{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" title="Favicon"/>
    <title>RICKSHAWHUB</title>
  </head>
  <body>
<link rel="stylesheet" href="{% static 'styles/displayCards.css' %}">
<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#">RICKSHAW<span>HUB</span>.</a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <span><i class="ri-menu-line"></i></span>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a><button style="{% if adminFlag == 1 %}color:#ff833e;{% endif %}" onclick="window.location.href='?newDrivers=true'">New Drivers</button></a></li>
    <li><a><button style="{% if adminFlag == 2 %}color:#ff833e;{% endif %}" onclick="window.location.href='?allPassengers=true'">All Passengers</button></a></li>
    <li><a><button style="{% if adminFlag == 3 %}color:#ff833e;{% endif %}" onclick="window.location.href='?allDrivers=true'">All Drivers</button></a></li>
    <li><a><button style="{% if adminFlag == 4 %}color:#ff833e;{% endif %}" onclick="window.location.href='?bookings=true'">Bookings</button></a></li>
  </ul>
  <div class="admin">
    Welcome<span>{{ admin_name }}</span> 
  </div>
</nav>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
  <!-- Show New Drivers if flag is 1 -->
  {% if adminFlag == 1 %}
    {% include 'admin/newDrivers.html' %}
  
  <!-- Show All Passengers if flag is 2 -->
  {% elif adminFlag == 2 %}
    {% include 'admin/allPassengers.html' %}

  <!-- Show All Drivers if flag is 3 -->
  {% elif adminFlag == 3 %}
    {% include 'admin/allDrivers.html' %}

  <!-- Show Bookings if flag is 4 -->
  {% elif adminFlag == 4 %}
    {% include 'admin/bookings.html' %}
  {% endif %}
<footer class="f2" id="aboutusSection">
    <div class="footer">
    <div class="footer-col">
        <h3>Kottayam Headquarters</h3>
        <p>MES college</p>
        <p>Erumely</p>
        <p>T: +91 987654321</p>
        <a href="https://maps.app.goo.gl/1nx6H5m2rmXPvYLn7">Get Directions</a>
    </div>
    <div class="footer-col">
        <h3>Join Our Social Community</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h3>Let's Discuss What's Next</h3>
        <p>Have a project or a question? We'd love to hear from you.</p>
        <p>Contact Us:</p>
        <p>Email: rikshawhub@gmail.com</p>
        <p>Phone: +91 987654321</p>
    </div>
    <hr>
    <p class="rights">Copyright &copy; 2024 RikshawHub</p>
</footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>